*{
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    flex-direction: row;
    background: #000080;
    color: #ffffff;
    height: 150px;
  }
  
  .page_name{
    font-size: 2.5em;
  }

  .date {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
    text-align: right;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 2%;
    margin-left: 83%;
    font-size: 1.25em;
    font-weight: bold;
  }

  .back_button{
    position: absolute;
    top: 37.5px;
    left: 15px;
    width: 75px;
    height: 75px;
    border-radius: 20%;
    background: #ffffff;
    cursor: pointer;
    border: none;
  }

  .backimage img{
    height: 50px;
    width: 50px;
  }
  